<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Student Registration form</title>
</head>
<body>
<h3>Student Registration form</h3>
<form th:action="@{/processStudentForm}" th:object="${student}" method="POST">
    First name = <input type="text" th:field="*{firstName}"/>
    <br><br>
    Last name = <input type="text" th:field="*{lastName}"/>
    <br><br>
    Country:
    <select th:field="*{country}">
        <option th:each="tempCountry : ${countries}" th:value="${tempCountry}" th:text="${tempCountry}"></option>
    </select>
    <br><br>
    Favourite programming language:<br>
    <span th:each="tempLang : ${languages}">
    <input type="radio" th:field="*{favouriteLanguage}" th:value="${tempLang}" />
    <span th:text="${tempLang}"></span>
    <br>
    </span>

    <br><br>
    Favourite operating system:
    <br>
    <span th:each="tempSystem : ${operatingsystems}">
    <input type="checkbox" th:field="*{favouriteSystems}" th:value="${tempSystem}" />
    <span th:text="${tempSystem}"></span><br></span>
    <br><br>

    <!-- ✅ Only one submit button here -->
    <input type="submit" value="Submit" />


</form>
</body>
</html>